{
    "env": {
        "node": true
    },

    "rules": {
        "no-underscore-dangle": 0,

        "quotes": [2, "single"],
        "strict": [2, "global"],

        "consistent-return": 0
    }
}
